h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid orange;
}
