h1 {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
    display: inline-block;
}
html {
    background-color: white;
    color: black;
}
