h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid orange;
}
*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    vertical-align:top
}
.search{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;
    border-radius:50px;
    padding:10px 20px;
}
.search input{
    border:none;
    outline:none;
    font-size:16px;
    font-weight:500;
    color:#555;
    padding: 8px 20px;
    height:24px;
    border-radius: 12px;
    flex: 1;
    margin-right: 16px;
}
.search button{
    width:48px;
    height: 24px;
    border:none;
    outline:none;
    background: #ebfffc;
    border-radius:50%;  
    cursor:pointer; 
}
.search button img{
    width:14px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather-icon img{
    width:64px;
    height:auto;
}
.weather h4{
    font-size:64px;
    font-weight:600;
}
.weather h5{
    font-size:32px;
    font-weight:500;
    margin-top: -10px;
}
.details{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    padding:  0 20px;
    align-items: center;
}
.col{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.col img{
    width:42px;
    margin-right:14px;
}
.humidity, .wind{
    font-size:18px;
    font-weight:500;
    margin-top:10px;
}
.weather{
    display:block;
    opacity: 0.5;
}
.error{
    display:none;
    background: #ff0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}