h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid orange;
}
*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    vertical-align:top
}
.search{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#fff;
    border-radius:50px;
    padding:10px 20px;
}
.search input{
    border:none;
    outline:none;
    font-size:20px;
    font-weight:500;
    color:#555;
    padding: 10px 25px;
    height:30px;
    border-radius: 15px;
    flex: 1;
    margin-right: 16px;
}
.search button{
    width:60px;
    height: 30px;;
    border:none;
    outline:none;
    background: #ebfffc;
    border-radius:50%;  
    cursor:pointer; 
}
.search button img{
    width:16px;
}
.weather-icon{
    width:170px;
    margin-top:30px;
}
.weather h4{
    font-size:64px;
    font-weight:600;
}
.weather h5{
    font-size:32px;
    font-weight:500;
    margin-top: -10px;
}
.details{
    display:flex;
    justify-content:space-between;
    margin-top:30px;
    padding: 0 20px;
    align-items: center;
}
.col{
    display:flex;
    flex-direction: column;
    align-items: left;
}
.col img{
    width:42px;
    margin-right:14px;
}
.humidity, .wind{
    font-size:18px;
    font-weight:500;
    margin-top:10px;
}
.weather{
    display:block;
    opacity: 0.5;
}
.error{
    display:none;
    background: #ff0000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}   