h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
}
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid orange;
}
*{
    margin:0;
    padding:0;
    font-family: 'poppins', sans-serif;
    box-sizing:border-box;
}
.card{
    width:90%;
    max-width:470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color:#fff;
    margin:100px, auto, 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: left;
    vertical-align:top


}