h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 50px;
    border: 2px solid turquoise;
    padding: auto;
    text-align: center;
}
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
}
